*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
}

.board{
  background-color: greenyellow;
  height: 600px;
  width: 711px;
  position: relative;
}

.snake1{
  /* remove backgrounds for dynamic player chosen color ### also will only need the only snake when adding dynamic js*/
  height: calc(600px / 56);
  width: calc(711px / 64);
  background-color: red;
  position: absolute;
  
}
/* 1.185185185185185 */
.snake2{
  height: calc(600px / 56);
  width: calc(711px / 64);
  background-color: blue;
  position: absolute;
}

.snake3{
  height: calc(600px / 56);
  width: calc(711px / 64);
  background-color: orange;
  position: absolute;
}

.snake4{
  height: calc(600px / 56);
  width: calc(711px / 64);
  background-color: purple;
  position: absolute;
}

.head{
  height: calc(600px / 56);
  width: calc(711px / 64);
  position: absolute;
  background-color: purple;
}
